.*.swp
*~
*.so
*.[oa]
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
/config/
/m4/*.m4
configure
aclocal.m4
config.log
config.status
config.h
config.log
autom4te.cache
stamp-h1
libtool
autoscan.log
configure.scan
